/*------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700;800&display=swap');


/* Global setting */

::placeholder{
    color: #48555B;
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    height: 100%;
    line-height: 1;
}

.container{
    max-width: 977px;
    padding: 0 16px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body._lock{
    overflow: hidden;
}

img{
    font-family: 'Bebas Neue', cursive;  
    text-transform: uppercase;
}

/*------------------------------------------------------------------*/

/* Header*/
.empty{
    display: none;
}

.header_konstruct-nav{
    display: none;
}

.menu_icon-wrap{
    display: none;
}

.menu_icon{
    display: none;
}
.header_block{
    text-align: center;
    height: auto;
    padding: 306.7px 0 221px 0;
    
}
.header_konstruct{
    padding-top: 40px;
    
}

.header_konstruct>img{
    width: 103px;
    height: auto;
}

.header_konstruct.container{
    padding-inline: 0;
}


.header_header{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.356875rem;
    line-height: 4.5rem;
}

.header_text{
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.375rem;
}
.header{
    background: url("../source/bg.webp") center / cover no-repeat;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header_konstruct-nav>img{
    width: 103px;
    height: auto;
}
  
.header_scrolltext{
    font-size: 0.6875rem;
    line-height: 15px;
    letter-spacing: 0.23125rem;
    text-transform: uppercase;
    margin-bottom: 71px;
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    width: 80%;
    align-self: center;
}
.header_scrolltext> a{
    color: inherit;
}

.header_scrolltext:hover{
    transform: scale(1.2);
}
/*------------------------------------------------------------------*/

/* Nav */
.nav-section{
    border: 1px solid #E6E6E6;
}

.nav{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    width: 406.5px;  
}

.nav-list > .nav-element-li:hover{
    transform: scale(1.1);
    color: #00A4E5;
}

.nav-element-li{
    text-transform: uppercase; 
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #48555B;
    letter-spacing: 1.09091px;
    transition: all .2s ease-in-out;
}



.nav-element-li .nav-element{
    color: inherit;
}

.nav-konstruct{
    width: 81px;
    height: auto;
    padding: 24px 0 23px 0;
}

.active{
    color: #00A4E5;
}

/*------------------------------------------------------------------*/

/*  our story block  */

.our-story.container{
    padding-right: 0;
}
.our-story-title{
    margin-top: 63px;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: default;
}

.our-story-title:hover:after{
    width: 130px;
}

.our-story-title h2{
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 25px;
    letter-spacing: 0.144140625rem;
    font-weight: 700;
}

.our-story-title::after{
    position: absolute;
    left: 50%;
    transform: translateX(-51%);
    content: '';
    bottom: -15px;
    width: 50px;
    height: 2px;
    background: #00A4E5;
    transition: all .5s ease-in-out;
}

.our-story-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-story-img{
    max-width: 142px;
    max-height: 224px;
    width: 100%;
    height: auto;
}

.our-story-card{
    margin: 0 12px;
    max-height: 224px;
    width: 100%;
    position: relative;
    transition: all .2s ease-in-out;
}

.our-story-card:hover{
    transform: scale(1.13);
}

.our-story-cards{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex: 0 0 53%;
    

  
}


.our-story-text{
    flex: 0 0 41%;
}

.our-story-title-text{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #48555B;
    letter-spacing: 0.1875px;
    margin-bottom: 43px;
    
}

.our-story-main-text{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.our-story-card-text{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
    text-transform: uppercase;
}


/*------------------------------------------------------------------*/

/* our capabilities */

.our-capabilities{
    margin-top: 120px;
}

.our-capabilities-header-block{
    display: flex;
    justify-content: space-between;

}


.our-capabilities-header{
    position: relative; 
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    color: #48555B;
    flex-basis: 40%;
}

.our-capabilities-header::after{
    position: absolute;
    left: 26px;
    transform: translateX(-50%);
    content: '';
    bottom: 2px;
    width: 50px;
    height: 2px;
    background: #00A4E5;
}

.our-capabilities-text{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
    padding-right: 5px;
    flex-basis: 42%;
}

.our-capabilities-button{
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    /* flex-basis: 18%; */
}

.our-capabilities-button:hover{
    background-color: #007fb2;
    transform: scale(1.05);
}

.our-capabilities-cards{
    display: flex;
    margin-top: 80px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-inline: -15px;
    max-width: 978px;
}

.card-wrapper{
    padding-inline: 15px;
    margin-top: 30px;
}

.our-capabilities-card{
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 39px 22px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-in-out;
    flex-basis: 30%;
    /* margin: 0 15px 30px 15px; */
    
}

.our-capabilities-card:hover{
    background-color: #f1f1f1;
    transform: scale(1.05);
}

.our-capabilities-card-img{
    width: 65px;
    height: auto;
}

.our-capabilities-card-header{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
}

.our-capabilities-card-text{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;   
    letter-spacing: 0.1875px;
    color: #48555B;
}

/*------------------------------------------------------------------*/

/* get in touch */

.get-in-touch{
    content-visibility: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../source/bg-get-in-touch.webp") center / cover no-repeat;
    height: 499px;
    justify-content: center;
    margin-top: 115px;
}

.get-in-touch-header{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #48555B;
    max-width: 350px;
}

.get-in-touch-button{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #00A4E5;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    margin-top: 35px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.get-in-touch-button:hover{
    background-color: #007fb2;
    transform: scale(1.05);
}

.get-in-touch-group{
    flex-direction: column;
    display: flex;
    align-items: center;
    transform: translateY(-40%);
}

/*------------------------------------------------------------------*/

/* sign up */

.sign-up{
    background-color: #171819;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 30px 0 30px 0;
}

.sign-up-header{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.sign-up-input{
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #979797;
    margin-left: 70px;
    padding: 10px 16px;
}

.sign-up-button{
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #00A4E5;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.sign-up-button:hover{
    background-color: #007fb2;
    transform: scale(1.05);
}
/*------------------------------------------------------------------*/

/* faq block */

.faq{
    height: auto;
    background-color: #141A20;
    display: flex;
    align-items: center;
}

.faq> .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 945px;
    padding-block: 42px;
}

.faq-about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.faq-about-p{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    max-width: 250px;
}

.faq-about-konstruct{
    height: 21px;
    width: auto;
    margin-bottom: 17px;
}

.faq-about-company{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.links{
    text-transform: uppercase;  
}

.faq-links-header{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;   
}

.faq-links{
    margin-top: 10px;
}

.faq-link > a{
    color: white;
}

.faq-link{
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
}

.faq-link:hover{
    color: #00A4E5;
}

.faq-link > a{
    color: inherit;
}


.contact-us-item> a{
    color: inherit;
}
.FAQ-links{
    text-transform: uppercase; 
}

.blog-links{
    list-style-type: none;
    text-transform: uppercase;   
}

.blog-link{
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    color: inherit;
}

.black_back{
    display: none;
}

.blog-link-li{
    transition: all .2s ease-in-out;
    color: white;
}

.blog-link-li:hover{
    color: #00A4E5;
}




.contact-us-list{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    max-width: 110px;
}



.contact-us-item:first-child{
    text-transform: uppercase;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .icon{
    transition: all .2s ease-in-out;
} */

.icon:hover>img{
    transform: scale(1.2);  
    fill: #00A4E5;
    transition: all .2s ease-in-out;
}

.icon>img{
    transition: all .2s ease-in-out;
}
.icon{
    color: white;
}

.icons-group{
    width: 86px;
    margin-top: 30px;
}

.FAQ{
    margin-top: 27px;
}

.blog{
    margin-top: 27px;
}

.contact-us-item{
    margin-top: 10px;
}

.icon-li{
    width: 12px;
}
/*------------------------------------------------------------------*/

/* footer */


.footer{
    background-color: #171819;
    height: 60px;
}

.footer>.container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.footer-text{
    width: 310px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    align-self: center;
}

@media(max-width:828px){
    .our-story-cards{
        align-items: center;
    } 

    .our-story-card-text{
        font-size: 18px;
        left: 55%;
    }
}

@media(max-width:730px){
    .our-story-cards{
        flex-direction: column;
        flex-basis: 30%;
        margin-right: 20px;
    }


    .our-story-text{
        flex-basis: 50%;
        margin-left: 20px;
    }

    .our-story-card{
        max-width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    .our-capabilities-header-block{
        flex-direction: column;
        align-items: center;
    }

    .our-capabilities-header-block > *{
        flex-basis: auto;
    }
    
    .our-capabilities{
        margin-top: 49.5px;
    }

    .our-capabilities-text{
        max-width: 600px;
        text-align: center;
        margin-bottom: 30px;
    }

    .our-capabilities-header{
        margin-bottom: 32px;
    }

    .our-capabilities-cards{
        flex-wrap: wrap;
    }
    
    .card-wrapper{
        flex-basis: 50%;
    }

    .our-capabilities-header::after {
        left: 50%;
        bottom: -13px;
    }
    .sign-up{
        flex-direction: column;
        
    }

    .sign-up-input{
        margin-left: 0;
        margin-bottom: 15px;
    }

    .sign-up-header{
        margin-bottom: 15px;
    }

    .get-in-touch{
        margin-top: 20px;
    }

    .faq> .container{
        flex-wrap: wrap;
        padding-block: 0;
    }

    .faq> .container> *{
        justify-content: center;
        flex-basis: 40%;
        margin-top: 0;
        margin-bottom: 30px;
        align-content: center;
    }

    .icons{
        justify-content: flex-start;
        
    }

    .icon-li{
        margin-right: 20px;
    }
}

@media(max-width:648px){
    .card-wrapper{
        flex-basis: 100%;
    }

    .our-story-text{
        margin-left: 0;
        margin-bottom: 24.5px;
    }

    .our-capabilities-cards{
        margin-top: 50px;
    }

    .get-in-touch-header{
        font-size: 26px;
    }
    .our-story-title-text{
        margin-bottom: 20px;
    }
}

@media(max-width:627px){
    .header_block{
        padding-top: 230.7px;
    }
    .faq{
        padding-top: 20px;
    }
}
@media(max-width:600px){
    .nav{
        width: 100%;
        left: 0;
        top: 0;
        border: none;
        display: flex;
        position: fixed;
        padding: 20px 5px 10px 5px;
        justify-content: flex-end;
        text-align: center;
        background-color: rgba(20, 26, 32, 1);
        z-index: 5;
        color: white;
    }

    .nav> *:not(.nav-list, .black_back){
        z-index: 10;
    }

    .header{
        background: url("../source/bg-mobile.webp") center / cover no-repeat;
    }

    .get-in-touch{
        background: url("../source/bg-get-in-touch-moblie.webp") center / cover no-repeat;
    }
    .black_back{
        width: 100%;
        height: 65px;
        left: 0;
        top: 0;
        border: none;
        background-color: rgba(20, 26, 32, 1);
        display: block;
        position: absolute;
        z-index: 5;
    }

    .nav-konstruct{
        width: 100%;
    }

    .nav-konstruct{
        display: none;
    }
    
    .header_konstruct-nav{
        display: block;
    }

    .empty{
        display: block;
    }

    .menu_icon-wrap{
        display: block;
    }

    .our-story-title{
        margin-bottom: 22px;
        margin-top: 50px;
    }
    .empty{
        flex-basis: 33.3%;
    }
    
    .header_konstruct-nav{
        flex-basis: 33.3%;
    }


    .header{
        height: 600px;
    }

    .header_konstruct{
        padding-top: 31px;
        display: none;
    }
    
    .header_block{
        padding-top: 161px;
    }
    
    
    .header_header{
        font-size: 40px;
        letter-spacing: normal;
        align-items: center;
    }

    .header_text{
        font-size: 16px;
        letter-spacing: normal;
        max-width: 242px;
        margin: 0 auto;
        font-weight: 400;
    }

    .header_scrolltext{
        font-size: 11px;
        letter-spacing: normal;
        margin-bottom: 31px;
    }

   



    .menu_icon-wrap{
        flex-basis: 33.3%;
        margin: 0;
    }

    .menu_icon{
        text-align: center;
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        margin-left: 65%;
    }
    
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after{
        left: 0;
        position: absolute;
        height: 15%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu_icon::before,
    .menu_icon::after{
        content: "";
    }

    .menu_icon::before{
        top: 0;
    }

    .menu_icon::after{
        bottom: 0;
    }

    .menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu_icon._active span{
        transform: scale(0) translate(0px, -50%);
    }

    .menu_icon._active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    
    .menu_icon._active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }


    .nav-list{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 26, 32, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        display: block;
        margin-right: 0;
        justify-content:center;
        width: 100%;  
        height: 100%;
        z-index: 4;
    }


    .nav-list > li{
        color: white;
    }

    .nav-list._active{
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .nav-element-li{
        width: 100%;
        
    }

    .nav-list .nav-element-li {
        width: 100%;
        margin: 0 0 70px 0;
        font-size: 25px;
    }

    .our-story-block{
        flex-direction: column;
    }

  
    .our-story-cards{
        flex-direction: row;
        flex-basis: auto;
        justify-content: center;
        margin: 0;
    }

    .faq> .container> *{
        flex-basis: 100%;
    }

    .icons{
        justify-content: center;
        align-items: center;
    }
    .icon-li{
        margin-right: 10px;
        margin-left: 10px;
    }

    
    .faq> .container> *> *:not(.faq-about-p , .faq-about-company){
        font-size: 14px;
    }

    .faq> .container> *> *> *{
        font-size: 14px;
    }

    .faq> .container> *> *> *> *{
        font-size: 14px;
    }

    .contact-us-list{
        max-width: 140px;
    }

    .footer-text{
        width: auto;
        max-width: 310px;
        text-align: center;
    }


    .icons{
        margin: 50px 0 30px;
    }
}

